<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

<!--       <bean class="edu.tampa.open_pet3.repositories.mock.MockUserRepository" id="mockRepo"/>-->
<!--       <bean class="edu.tampa.open_pet3.services.UserServiceImpl" >-->
<!--              <property name="userRepository" ref="mockRepo"/>-->
<!--       </bean>-->

              <context:annotation-config/>
       <context:component-scan base-package="edu.tampa.**.repositories"/>
       <context:component-scan base-package="edu.tampa.**.services"/>
       <context:component-scan base-package="edu.tampa.**.web"/>
<!--       <bean class="org.springframework.web.servlet.view.XmlViewResolver">-->
<!--           <property name="location">-->
<!--               <value>/WEB-INF/web.xml</value>-->
<!--           </property>-->
<!--       </bean>-->
</beans>