<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com./xml/ns/javaee"
         xsi:shemaLocation="http://java.sun.com./xml/ns/javaee http://java.sun.com./xml/ns/javaee"
         xsi="WebApp_ID" version="2.5">
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
         <servlet-name>userServlet</servlet-name>
         <servlet-class>edu.tampa.open_pet3.web.user.UserServlet</servlet-class>
         <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
      <servlet-name>userServlet</servlet-name>
      <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userMeal</servlet-name>
        <servlet-class>edu.tampa.open_pet3.web.user.UserMealsServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>userMeal</servlet-name>
        <url-pattern>/userMeals</url-pattern>
    </servlet-mapping>
</web-app>
